@import '../../../../colors.scss';
@import '../../../../mixins.scss';

form{
    color: black;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 1rem;
}

label {
    grid-column: span 2;
    display: grid;
    grid: inherit;
    grid-template-columns: inherit;
    grid-gap: inherit;
}

button{
 @include button;
 justify-self: self-end;
}


.ng-invalid:not(form).ng-touched {
    border: 1px solid red;
} 
.form-error{
    color: red;
}
.red-text{
    color: red;
}