<div class="gridWrapper">
    <div class="wrapper">
        <form #subredditForm="ngForm" (ngSubmit)='createNewSubreddit()'>
    
            <h1>Create Topic</h1>

            <div>
                
                <label for="name">Subreddit tag</label>
                <input type="text"
                        placeholder="subreddit tag"
                        name="name"
                        required
                        #name="ngModel"
                    [(ngModel)] ="subreddit.name">    
                <label for="title">Topic Title</label>
                <input type="text"
                        placeholder="Your topic title"
                        name="title"
                        #title="ngModel"
                        required
                        [(ngModel)] ="subreddit.title">
                <label for="description">Description</label>
                <textarea type="text"
                        cols="40" 
                        rows="10"
                        placeholder="Your description"
                        #description="ngModel"
                        name="description"
                        required
                        [(ngModel)] ="subreddit.description">
                </textarea>

            </div>
    
            <button type="submit">Create</button>
        </form>
    </div>
</div>

<div *ngIf="error !== undefined">
    <p class="red-text">{{ error.error }}</p>
</div>