<div>
    <form #subredditForm="ngForm" (ngSubmit)='createNewSubreddit()'>

        <h1>Create Topic</h1>

        <label for="name">Subreddit tag</label>
        <br>
        <input type="text"
                placeholder="subreddit tag"
                name="name"
                required
                #name="ngModel"
            [(ngModel)] ="subreddit.name">    
        <br>
        <label for="title">Topic Title</label>
        <br>
        <input type="text"
                placeholder="Your topic title"
                name="title"
                #title="ngModel"
                required
                [(ngModel)] ="subreddit.title">
        <br>
        <label for="description">Description</label>
        <br>
        <textarea type="text"
                cols="30" 
                rows="10"
                placeholder="Your description"
                #description="ngModel"
                name="description"
                required
                [(ngModel)] ="subreddit.description">
        </textarea>
        <br>
        <button class='typeButton' type="submit">Create</button>
        <div *ngIf="error !== undefined">
            <p class="red-text">{{ error.error }}</p></div>
    </form>
</div>
