<div>
    <h1>Create Topic</h1>
    <form #subredditForm="ngForm" (ngSubmit)="onSubmit(subredditForm)">
        <label for="name">Topic name</label>
        <br>
        <input type="text"
                placeholder="Your topic name"
                name="name"
                required
                #name="ngModel"
            [(ngModel)] ="subreddit.name">
        <br>
        <label for="title">Title</label>
        <br>
        <input type="text"
                placeholder="Your title"
                name="title"
                #title="ngModel"
                required
                [(ngModel)] ="subreddit.title">
        <br>
        <label for="description">Description</label>
        <br>
        <textarea type="text"
                cols="30" 
                rows="10"
                placeholder="Your description"
                #description="ngModel"
                name="description"
                required
                [(ngModel)] ="subreddit.description">
        </textarea>
        <br>
        <button>Create</button>
    </form>
</div>
