@import '../../../../colors.scss';
@import '../../../../mixins.scss';

.singlePostWrapper {
    @include whiteBackground;
    padding: 1rem;
    color: $darkBlue;

    h2 {
        @include title($darkBlue, #1555a3, 0.1rem);
        font-weight: lighter;
    }

    &:hover {
        @include whiteBackground;
        background-color: rgb(255, 255, 255, 0.8);
        cursor: pointer;
    }
}
