<div class="singlePostWrapper" (click)="onDetailsClick()">
    <div class="image">Image</div>

    <div class="info">
        <h2>{{postTitle}}</h2><br>
        <div class="postDateCreated">
             Posted  {{postDateCreated | dateAgo}} by
            <a class="postAuthor" href="">
                {{postAuthor}}
            </a> 
            to 
            <a class="postSubreddit" href="">
                {{postSubreddit | subredditFormat}}
            </a>
        </div>
        <div class="postCommentCount">
            {{postCommentCount}} Comments - 
            <a href="">
                share
            </a>
        </div>
    </div>
</div>

