<div class="singlePostWrapper" (click)="onDetailsClick()">

    <div class="info">
        <h2>{{postTitle}}</h2><br>
        <div class="postDateCreated">
             Posted  {{postDateCreated | dateAgo}} by
            <p class="postAuthor" >
                {{postAuthor}}
            </p> 
            to 
            <a class="postSubreddit" href="">
                {{postSubreddit | subredditFormat}}
            </a>
        </div>
        <div class="postCommentCount">
            {{postCommentCount}} Comments
        </div>
    </div>
</div>

