@import '../../../../colors.scss';
@import '../../../../mixins.scss';

.postsWrapper {
    display: grid;
    row-gap: 1rem;
    color: $darkBlue;

    > h1 {
        @include title($orange, white, 0.2rem);
    }
   
}
