@import '../../../../colors.scss';
@import '../../../../mixins.scss';

.postsWrapper {
    display: grid;
    row-gap: 1rem;
    color: $darkBlue;

    > h1 {
        font-family: 'Hind Siliguri', sans-serif;
        letter-spacing: 0.2rem;
        background: -webkit-linear-gradient($orange, white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
   
}
