<main>
    <div class="header-panel">
        <h1 class="welcome-sign">Welcome to <br><strong>Iced Reddit</strong></h1>
    </div>

    <div class="side-panel">
        <div class="loginContainer">
            <h2>To enter the application, please log in.</h2>
            <button class="loginBtn" type="submit">Log in</button>
        </div>

        <div class="registrationContainer">
            <h2>If you do not have account, please register.</h2>
            <button class="registrationBtn" type="submit">Sign in</button>
        </div>
    </div>


</main>
