@import '../../../colors.scss';
@import '../../../mixins.scss';

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto;
  row-gap: 2em;
  grid-template-areas: 
    "navigationBar navigationBar navigationBar"
    ". mainContent .";
}

.navigationBar {
  grid-area: navigationBar;
}

.mainContent {
  grid-area: mainContent;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "headerPanel"
    "sidePanel";
  @include boxshadow;
}

.headerPanel {
  grid-area: headerPanel;
  display: grid;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "welcomeSign";
  background-color: $darkBlue;
  color: $lightTextColor;
  text-transform: uppercase;
  text-align: center;
  align-self: stretch;
  padding: 6rem;
  border-left: 1rem solid $orange;
}

.welcomeSign {
  grid-area: welcomeSign;
  font-size: 2,5em;
  letter-spacing: 0.5rem;
  strong {
    color: $orange;
  };
  text-shadow: 1px 1px 4px black;
}

.sidePanel{
  grid-area: sidePanel;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: $lightTextColor;
  color: $darkBlue;
  padding: 2.5rem;
  display: grid;
  row-gap: 1rem;
  > div {
    align-items: center;
    > h2 {
        grid-area: sidePanelMessage;
    };
    > button {
      grid-area: subBtn;
      @include button;
      justify-self: center;
    };
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 1rem;
    grid-template-areas: 
      "sidePanelMessage subBtn";
  };
}