<div class="gridWrapper">

    <div class="mainContent">
        <div class="headerPanel">
            <h1 class="welcomeSign">Welcome to <br>Iced Reddit</h1>
        </div>

        <div class="sidePanel">
            <div class="loginContainer">
                <h2>To enter the application, please log in.</h2>
                <button class="loginBtn" type="submit" (click)="onLoginClick();">Log in</button>
            </div>

            <div class="registrationContainer">
                <h2>If you do not have account, please register.</h2>
                <button class="registrationBtn" type="submit" (click)="onRegisterClick();">Sign in</button>
            </div>
        </div>
    </div>

</div>