@import '../../../colors.scss';
@import '../../../mixins.scss';

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-template-areas: 
    "header-panel side-panel";
  margin: 5em;
  @include boxshadow;
}

.header-panel {
  grid-area: header-panel;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "welcome-sign";
  background-color: $darkBlue;
  color: $lightTextColor;
  text-transform: uppercase;
  text-align: center;
  align-self: stretch;
  padding: 6rem;
  border-left: 1rem solid $orange;
}

.welcome-sign {
  grid-area: welcome-sign;
  font-size: 2,5em;
  letter-spacing: 0.5rem;
  strong {
    color: $orange;
  };
}

.side-panel{
  grid-area: side-panel;
  background-color: $lightTextColor;
  color: $darkBlue;
  padding: 5%;
  display: grid;
  align-items: center;
  > div {
    > h2 {
        grid-area: side-panel-message;
    };
    > button {
        grid-area: subBtn;
        @include button;
    };
    display: grid;
    grid-template-columns: 8fr 1fr 3fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 
        ". . ." 
        "side-panel-message . subBtn" 
        ". . .";
  };
}