@import '../../../colors.scss';
@import '../../../mixins.scss';

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto;
  row-gap: 2em;
  grid-template-areas: 
    "navigationBar navigationBar navigationBar"
    ". mainContent .";
}

.navigationBar {
  grid-area: navigationBar;
}

.mainContent {
  grid-area: mainContent;
  display: grid;
}