@import '../../../../mixins.scss';
@import '../../../../colors.scss';

.postDetailsWrapper {
    display: grid;
    row-gap: 2rem;
    color: $orange;

    > div {
        padding: 1rem;
        color: $darkBlue;
        @include whiteBackground;

        h2 {
            @include title ($darkBlue, $blue, 0.1rem);
            font-weight: lighter;
        }
    }
}

.noCommentsMessage {
    text-shadow: 5px 0px $darkBlue;
}

.postDetails {
    > .details {
        padding-top: 0.5em;
        padding-bottom: 2em;
    }
}

.createComment {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;

    > textarea {
        width: 100%;
        height: 5rem;
        padding: 1rem;
        margin-bottom: 1rem;
        outline: none;
        border: none;
        resize: none;
        border-bottom: 1px solid $darkBlue;
        background-color: $white04;
        &:focus {
            background-color: $white04;
        }
    }

    > button {
        @include button;
        outline: none !important;
    }
}

.commentsWrapper {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 1.5em;
    @include whiteBackground;
    background-color: rgb(243, 243, 243);
    margin-bottom: 3em;

    span {
       font-weight: bold;
   }

   p {
       padding-top: 0.5em;
   }
}