@import '../../../../mixins.scss';
@import '../../../../colors.scss';

.postDetailsWrapper {
    display: grid;
    row-gap: 2rem;
    color: $orange;

    > div {
        padding: 1rem;
        color: $darkBlue;
        @include whiteBackground;

        h2 {
            @include title ($darkBlue, #1555a3, 0.1rem);
            font-weight: lighter;
        }
    }
}

.postDetails {
    > .details {
        padding-top: 0.5em;
        padding-bottom: 2em;
    }
}

.commentsWrapper {
    display: grid;
    row-gap: 1.5em;
    @include whiteBackground;

    span {
       font-weight: bold;
   }

   > p {
       padding-top: 0.5em;
   }
}