<div class="postDetailsWrapper" *ngIf="post">
    <div class="postDetails">
        
        <h2>{{post.title}}</h2>

        <div class="details">
            <div *ngIf="post.posted_url; else elseBlock">
                <a href="{{post.posted_url}}" target="_blank">{{post.posted_url}}</a>
            </div>
            <ng-template #elseBlock>
                <p #elseBlock>{{post.description}}</p>
            </ng-template>
        </div>

        <div class="postDateCreated">
            Posted  {{post.date_created | dateAgo}} by
            <a class="postAuthor" href="">
            {{post.author}}
            </a> 
            to 
            <a class="postSubreddit" href="">
            {{post.subreddit | subredditFormat}}
            </a>
        </div>

        <div class="postCommentCount">
            {{post.commentCount}} Comments
        </div>
    </div>

    <div class="createComment">
        <textarea 
            maxlength="255"
            placeholder="this is the place for your non trolling comment..."
            [(ngModel)]="commentDescription"></textarea>
        <button (click)="addComment()">Comment</button>
    </div>
    
    <div class="commentsWrapper" *ngIf="post.comments.length > 0; else noComments">
        <div class="comment" *ngFor="let comment of post.comments">
            <span>
                {{comment.author}}
            </span>
            {{comment.date_created | dateAgo}}
            <p>
                {{comment.description}}
            </p>
        </div>
    </div>
</div>

<ng-template #noComments>
    <p class="noCommentsMessage">There are no comments. You can be first!</p>
</ng-template>
