<div class="contentWrapper">
	<div class="formWrapper">
		<form #loginform="ngForm" (ngSubmit)="onSubmit(loginform)">
	
			<h1>Login</h1>
		
			<label for="email">
				<span class="label-text">
						YourEmail
				</span>
				<input type="text"
					id="email"
					required
					name="email"
					[(ngModel)]="user.email"
					appValidateEmail="^[^\s@]+@[^\s@]+\.[^\s@]+$">
			</label>
		
			<label for="password">
				<span class="label-text">
						Your Password
				</span>
				<input type="password"
					id="password"
					required
					name="password"
					[(ngModel)]="user.password"
					appValidatePassword="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$">
			</label>
			
			<button type="submit" [disabled]="!loginform.form.valid">Login</button>
		
		</form>
	</div>
</div>

<div *ngIf="error !== undefined" class="form-error">

	<p class="red-text">{{ error.error }}</p>
</div>