@import '../../../../colors.scss';
@import '../../../../mixins.scss';

.contentWrapper {
    display: grid;
    margin: 2rem 0;
    column-gap: 5rem;
    grid-template-columns: 8fr 4fr;
    grid-template-areas: 
        "posts subreddits";
}

.postsWrapper {
    grid-area: posts;
    display: grid;
    row-gap: 1rem;

    > div {
        display: grid;
        color: $basicTextColor;
        background-color: white;
        @include boxshadow;
        border-left: 1rem solid $darkBlue;
        border-radius: 0.3em;
        padding: 1rem;
    };
   
}

.subredditsWrapper {
    grid-area: subreddits;
    background-color: $secondaryColor;
    color: $darkBlue;
    // display: grid;
    // grid-template-rows: auto auto;
    // grid-template-areas:
    //     "title"
    //     "content";
    > h2 {
        grid-area: title;
        background-color: $darkBlue;
        color: $lightTextColor;
        text-align: center;
        padding: 1rem;
    }

    > div {
        padding: 1rem;
        > div {
            padding-bottom: 0.5rem;
            letter-spacing: 0.2rem;
        }
    }
}

.listOfSubreddits {
    grid-area: content;
}