<div class="contentWrapper">
    <div class="postsWrapper">

        <div *ngFor="let post of _posts" class="post">
            <app-post class="singlePost" [postId]="post.id">
            </app-post>
        </div>

    </div>

    <div class="subredditsWrapper">

        <h2>Subreddits</h2>
        <div class="listOfSubreddits">
            <div (click)= "onSelect(subreddit)" *ngFor="let subreddit of _subreddits">
                {{subreddit.name | subredditFormat}}
            </div>
        </div>
        

    </div>
</div>

