@import '../colors';

/* MIXINS */

@mixin button {};

/* MAIN WRAPPER */

.gridWrapper {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-row-gap: 1em;
    grid-template-areas: 
        "navigationBar navigationBar navigationBar"
        ". mainContent .";
}

/* NAVIGATION */

.navigationBar {
    grid-area: navigationBar;
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    grid-template-areas: 
        "logo subreddits logReg";
    color: $lightTextColor;
    background: rgb(31, 31, 31);
    // background: linear-gradient(90deg, rgba(191,226,241,1) 0%, rgba(255,255,255,1) 100%);
    align-items: center;

    > div {
        padding: 1em;
    };
}

.logReg {
    grid-area: logReg;
}

.logo {
    grid-area: logo;
}

.subreddits {
    grid-area: subreddits;
}

/* POSTS */

.mainContent {
    grid-area: mainContent;
    color: $basicTextColor;
}
