<body>

  <div class="gridWrapper">

    <nav class="navigationBar">

      <div class="logo">Logo</div>

      <div class="subreddits">
        <span>Subreddit1</span>
        <span>Subreddit2</span>
      </div>

      <div class="logReg">
        <a href="">login</a> or <a href="">register</a>
      </div>

    </nav>

    <div class="mainContent">

      <router-outlet></router-outlet>

      <!-- <app-feed></app-feed> -->

      <!-- <div class="postsWrapper">

        <div class="post">

          <div class="image">Image</div>

          <div class="info">
            <h2>Nadpis</h2>

            <div>Doplňující informace</div>
            <div>Komentáře a sdílení</div>
          </div>

        </div>
          
        <div class="post">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores libero error minima quam neque consequatur tenetur, illum ducimus voluptatem fugit eaque debitis alias, ex exercitationem ipsum, ab quae suscipit sit amet illo. Recusandae eius esse aliquam odio, ea id alias eaque consectetur excepturi deleniti, qui exercitationem a ipsa aliquid totam!</div>
        <div class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum culpa rem distinctio aliquid, tempore vel eligendi natus obcaecati corporis similique sunt dolor quas sint voluptate earum quasi velit dignissimos vero hic. Corrupti, quod. Officiis fugit, quidem facere nam doloremque non sapiente porro dolorum nobis eligendi est, maiores nemo. Esse, quia voluptatem deserunt ipsam harum nostrum totam rem. Quae, temporibus nam!</div>

      </div>
      
      </div> -->

    </div>

  </div>

</body>