@import '../../../colors';

.postsWrapper {
    display: grid;
    grid-gap: 1em;

    > div {
        display: grid;
        grid-gap: 1em;
        color: $basicTextColor;
        background-color: white;
        box-shadow: 3px 3px 5px $secondaryColor;
        border: 0.1em solid transparent;
        border-radius: 0.3em;
        padding: 1em;
    };
   
}