<h1>Add new post</h1>

<button class='typeButton' (click)="urlClick()" >URL</button>
<button class='typeButton' (click)='textClick()'>Text</button>

<form #addNewPostForm="ngForm" (ngSubmit)='createNewPost()'>

<div [ngSwitch]="urlExists">

    <div *ngSwitchCase="true">
        <label>Title: </label>
        <input type="text"
        name="title"
        required
        [(ngModel)]="newPost.title"
        ><br>
        <label>url:</label>
        <input type="text"
        required
        [(ngModel)]="newPost.posted_url"
        name="url"
        ><br>

        <label>Subreddit: </label>
        <select  [(ngModel)]="newPost.subreddit" name="subredditName">
            <option *ngFor="let subreddit of namesOfSubreddits">{{subreddit}}</option>
        </select>

    </div >

    <ng-container *ngSwitchCase='false'>
        <ng-container *ngTemplateOutlet="textPost"></ng-container>
   </ng-container>

<!--     <div *ngSwitchCase='false'>
        <label>Title: </label>
        <input type="text"
        name="title"
        [(ngModel)]="newPost.title"
        required
        ><br>
        <label>Description</label>
            <textarea type="text"
            cols="30" 
            rows="5"
            name="description"
            [(ngModel)]="newPost.description"
            required></textarea><br>

        <label>Subreddit: </label>
        <select  [(ngModel)]="newPost.subreddit" name="subredditName">
            <option *ngFor="let subreddit of namesOfSubreddits">{{subreddit}}</option>
        </select>
    </div> -->


    <ng-container *ngSwitchDefault>
         <ng-container *ngTemplateOutlet="textPost"></ng-container>
    </ng-container>

    <!-- <div *ngSwitchDefault>
        <label>Title: </label>
        <input type="text"
        name="title"
        [(ngModel)]="newPost.title"
        ><br>
        <label>Description</label>
            <textarea type="text"
            required
            rows="5"
            cols="30"
            name="description"
            [(ngModel)]="newPost.description"
            required
            ></textarea><br>

        <label>Subreddit: </label>
        <select  [(ngModel)]="newPost.subreddit" name="subredditName">
            <option *ngFor="let subreddit of namesOfSubreddits">{{subreddit}}</option>
        </select>
 
    </div > -->

    <button type="submit">Create post</button>
</div>
<div *ngIf="errorMessage$ !== undefined" class="form-error">

    <p class="red-text">{{ errorMessage$.error }}</p>
</div>
</form>


<ng-template #textPost><label>Title: </label>
    <input type="text"
    name="title"
    [(ngModel)]="newPost.title"
    required
    ><br>
    <label>Description</label>
        <textarea type="text"
        cols="30" 
        rows="5"
        name="description"
        [(ngModel)]="newPost.description"
        required></textarea><br>

    <label>Subreddit: </label>
    <select  [(ngModel)]="newPost.subreddit" name="subredditName">
        <option *ngFor="let subreddit of namesOfSubreddits">{{subreddit}}</option>
    </select></ng-template>

