@import '../../../../colors.scss';
@import '../../../../mixins.scss';

.subredditsWrapper {
    background-color: $secondaryColor;
    color: $darkBlue;
    align-self: center;
    @include boxshadow;
    border-radius: 0.3em;
    
    > h2 {
        background-color: $darkBlue;
        color: $lightTextColor;
        text-align: center;
        padding: 1rem;
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em;
    }

    > div {
        padding: 1rem;
        font-weight: bold;
        display: grid;
        justify-content: center;
        > div {
            padding-bottom: 0.5rem;
            letter-spacing: 0.2rem;
        }
        :hover {
            cursor: pointer;
            font-weight: 400;
        }
    }

}