@import '../../../../colors.scss';
@import '../../../../mixins.scss';

.subredditsWrapper {
    @include whiteBackground;
    padding: 1rem;
    
    > h2 {
        @include title ($darkBlue, $lightBlue, 0.1rem);
        font-weight: lighter;
        text-align: center;
        border-bottom: 1px solid $lightBlue;
    }

    > div {
        color: $darkBlue;
        padding: 1rem;
        font-weight: bold;
        display: grid;
        justify-content: center;
        text-align: center;
        > div {
            padding-bottom: 0.5rem;
            letter-spacing: 0.2rem;
        }
        :hover {
            cursor: pointer;
            color: $orange;
            text-shadow: 2px 0px $shadow;
        }
    }

}