/* COLORS */
$shadow: #94abc5;
$lightBlue: #659de0;
$blue: #104a90;
$darkBlue: #00234e;
$theDarkestBlue: #011733;
$orange: #e6ac00;
$lightOrange: #e7bc3a;

$error: rgb(180, 0, 0);

$white02: rgba(255, 255, 255, 0.2);
$white04: rgba(255, 255, 255, 0.4);
$white07: rgba(255, 255, 255, 0.7);
