@import 'colors.scss';

@mixin button {  
    background-color: $darkBlue;
    color: $orange;
    padding: 1rem;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    text-transform: uppercase;
    @include boxshadow();
    outline: none;
    &:hover {
        background-color: $orange;
        color: $darkBlue;
        cursor: pointer;
    };
    &:active {
        background-color: $lightOrange; 
        cursor: pointer;
    }
};

@mixin boxshadow {
    box-shadow: 0px 0px 4px $shadow;
};

@mixin title ($topColor, $bottomColor, $letterSpacing) {
    font-family: 'Hind Siliguri', sans-serif;
    letter-spacing: $letterSpacing;
    background: 
        -webkit-linear-gradient($topColor, $bottomColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

@mixin whiteBackground {
    background-color: $white07;
    backdrop-filter: blur(0.8rem);
    border-radius: 0.3em;
}

@mixin form {
    display: grid;
    row-gap: 2.5rem;
    padding: 5rem 6rem;
    color: $darkBlue;
    min-width: 700px;
    
    @include whiteBackground;
    border-radius: 2rem;

    h1 {
        @include title($darkBlue, $lightBlue, 0.2rem);
    }

    label {
        display: grid;
        grid-template-columns: max-content auto;
        column-gap: 1rem;
        letter-spacing: 0.1rem;
    }

    span {
        align-self: center;
    }

    input, textarea {
        padding: 0.3rem 0.5rem;
        outline: none;
        border: none;
        border-bottom: 1px solid $darkBlue;
        background-color: $white04;
        resize: none;
        &:focus {
            background-color: $white07;
        }
    }

    textarea {
        padding: 0.5rem;
    }

    button {
        background-color: $darkBlue;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 0.3rem;
        outline: none;
        border: none;
        color: $white07;
        letter-spacing: 0.3rem;
        &:hover{
            background-color: $orange;
            color: $darkBlue;
            cursor: pointer;
        }
        &:active {
            background-color: $lightOrange;
            cursor: pointer; 
        }
    }

    .labelWrapper {
        display: grid;
        row-gap: 1rem;
    }

    .form-error {
        color: $error;
        letter-spacing: 0.1rem;
        max-width: 508px;
    }

    .link {
        text-align: center;
        letter-spacing: 0.1rem;
    }

    .ng-invalid:not(form).ng-touched {
        border-bottom: 1px solid $error;
    }

    .buttons {
        > button {
           margin-right: 1rem; 
        }
    }
}