@import 'colors.scss';

@mixin button {  
    background-color: $darkBlue;
    color: $lightTextColor;
    padding: 8px;
    letter-spacing: 2px;
    font-weight: bold;
    border: 1px solid $darkBlue;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 5px 5px 5px $shadow};