@import 'colors.scss';

@mixin button {  
    background-color: $darkBlue;
    color: $orange;
    padding: 8px;
    letter-spacing: 2px;
    font-weight: bold;
    border: 1px solid $darkBlue;
    border-radius: 10px;
    text-transform: uppercase;
    @include boxshadow();
    &:hover {
        background-color:$orange;
        border: none;
        color: $darkBlue;
    };
};

@mixin boxshadow {
    box-shadow: 4px 4px 5px $shadow;
};