* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

/* COLORS */

$primaryColor: #f4f9fd;
$secondaryColor:#9fd7ff;
$shadow: gray;
$basicTextColor: black;
$lightTextColor: #e8f4ff;

/* MIXINS */

@mixin button {};

/* BODY AND MAIN WRAPPER*/

body {
    background-color: $primaryColor;
    color: $secondaryColor;
}

.gridWrapper {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-row-gap: 1em;
    grid-template-areas: 
        "navigationBar navigationBar navigationBar"
        ". mainContent .";
}

/* NAVIGATION */

.navigationBar {
    grid-area: navigationBar;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: 
        "logo subreddits logReg";
    color: $lightTextColor;
    background-color: $secondaryColor;
    align-items: center;

    > div {
        padding: 1em;
    };
}

.logReg {
    grid-area: logReg;
}

.logo {
    grid-area: logo;
}

.subreddits {
    grid-area: subreddits;
}

/* POSTS */

.mainContent {
    grid-area: mainContent;
    background-color: $primaryColor;
    color: $basicTextColor;
}

.postsWrapper {
    display: grid;
    grid-gap: 1em;

    > div {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 
            "image info";
        .image {
            grid-area: image;
        };
        .info {
            grid-area: info;
        }
        color: $basicTextColor;
        background-color: white;
        box-shadow: 3px 3px 5px $secondaryColor;
        border: 0.1em solid transparent;
        border-radius: 0.3em;
        padding: 1em;
    };
   
}

