@import '../../../colors.scss';
@import '../../../mixins.scss';

.navigationBar {
    grid-area: navigationBar;
    display: inline-grid;
    grid-template-areas: 
        "logo addPost";
    color: rgb(255, 255, 255, 0.4);
    margin: 0 2rem;
    align-items: center;

    > div {
        padding: 1em;
    };

}

button {
    @include button;
    box-shadow: none;
    background-color: transparent;
}

.text-logo {
    grid-area: logo;
    font-size: 3rem;
    outline: none;
    cursor: pointer;
    @include title(#3a77c2, white, 0.2rem);
}

.subreddits {
    grid-area: subreddits;
}
.logopic {
    max-width: 200px;
}