@import '../../../colors.scss';
@import '../../../mixins.scss';

.navigationBar {
    grid-area: navigationBar;
    display: grid;
    grid-template-columns: 1fr 10fr 3fr;
    grid-template-areas: 
        "logo search-bar .";
    color: $lightTextColor;
    background: $darkBlue;
    align-items: center;

    > div {
        padding: 1em;
    };
}

.logo {
    grid-area: logo;

    > img:focus,:hover{
        cursor: pointer;
        outline: none;
    }
}

.search-bar {
    grid-area: search-bar;
}
.logopic {
    max-width: 200px;
}
.add-new-post {
    color: $primaryColor;
}