@import '../../../colors.scss';
@import '../../../mixins.scss';

.navigationBar {
    grid-area: navigationBar;
    display: grid;
    grid-template-columns: auto 10fr 3fr;
    grid-template-areas: 
        "logo subreddits addPost";
    color: $lightTextColor;
    border-bottom: solid 1px $secondaryColor;
    margin: 0 2rem;
    align-items: center;

    > div {
        padding: 1em;
    };
}

.text-logo {
    grid-area: logo;
    font-size: 3rem;
    // font-weight: 900;
    font-family: 'Hind Siliguri', sans-serif;
    letter-spacing: 0.2rem;
    background: -webkit-linear-gradient(#3a77c2, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subreddits {
    grid-area: subreddits;
}
.logopic {
    max-width: 200px;
}
.add-new-post {
    color: $primaryColor;
    grid-area: addPost;
    text-align: right;
}